@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 300 8% 95%;
		--foreground: 300 8% 5%;

		--card: 300 10% 94%;
		--card-foreground: 300 8% 5%;

		--popover: 300 10% 94%;
		--popover-foreground: 300 8% 5%;

		--primary: 302 100% 77%;
		--primary-foreground: 300 9% 2%;

		--secondary: 332 100% 77%;
		--secondary-foreground: 325 8% 5%;

		--muted: 300 8% 91%;
		--muted-foreground: 303 9% 45%;

		--accent: 300 8% 91%;
		--accent-foreground: 300 8% 5%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 300 9% 87%;
		--input: 300 9% 80%;
		--ring: 302 36% 72%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 280 7% 8%;
		--foreground: 300 9% 98%;

		--card: 280 6% 10%;
		--card-foreground: 300 9% 98%;

		--popover: 280 6% 10%;
		--popover-foreground: 300 9% 98%;

		--primary: 279 78% 55%;
		--primary-foreground: 300 9% 98%;

		--secondary: 309 78% 50%;
		--secondary-foreground: 300 9% 98%;

		--muted: 278 7% 29%;
		--muted-foreground: 279 8% 49%;

		--accent: 279 71% 19%;
		--accent-foreground: 300 9% 98%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 276 8% 12%;
		--input: 278 9% 18%;
		--ring: 279 78% 40%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.card-grid {
		display: grid;
	}

	.layout-wide {
		grid-template-areas:
			'image header header'
			'image meta meta'
			'image meta meta'
			'image meta meta';

		grid-template-columns: 1fr 1fr 1fr;
	}

	.layout-tall {
		/* grid-template-areas:
			'header header header'
			'image meta meta'
			'image meta meta'; */
		min-height: 300px;
		position: relative;
		grid-template-areas:
			'image image image'
			'header header header'
			'meta meta meta'
			'meta meta meta';
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 150px 1fr 1fr 1fr;

		& #image-col {
			/* max-height: 33.3%; */
		}

		& :not(#image-col) {
			z-index: 1;
		}
	}
}
